<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alienBlue_hurt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,92}</string>
                <key>spriteSourceSize</key>
                <string>{67,92}</string>
                <key>textureRect</key>
                <string>{{66,219},{67,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienBlue_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{66,92}</string>
                <key>textureRect</key>
                <string>{{0,219},{66,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienBlue_walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,93}</string>
                <key>spriteSourceSize</key>
                <string>{66,93}</string>
                <key>textureRect</key>
                <string>{{133,219},{66,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienBlue_walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,96}</string>
                <key>spriteSourceSize</key>
                <string>{67,96}</string>
                <key>textureRect</key>
                <string>{{0,312},{67,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{56,45},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{112,45},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_fly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,42}</string>
                <key>spriteSourceSize</key>
                <string>{61,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{0,45},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{67,312},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,73}</string>
                <key>spriteSourceSize</key>
                <string>{51,73}</string>
                <key>textureRect</key>
                <string>{{102,146},{51,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,73}</string>
                <key>spriteSourceSize</key>
                <string>{51,73}</string>
                <key>textureRect</key>
                <string>{{153,146},{51,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,73}</string>
                <key>spriteSourceSize</key>
                <string>{51,73}</string>
                <key>textureRect</key>
                <string>{{51,146},{51,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,73}</string>
                <key>spriteSourceSize</key>
                <string>{51,73}</string>
                <key>textureRect</key>
                <string>{{0,146},{51,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,45}</string>
                <key>spriteSourceSize</key>
                <string>{71,45}</string>
                <key>textureRect</key>
                <string>{{132,0},{71,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,51}</string>
                <key>spriteSourceSize</key>
                <string>{69,51}</string>
                <key>textureRect</key>
                <string>{{72,93},{69,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,45}</string>
                <key>spriteSourceSize</key>
                <string>{71,45}</string>
                <key>textureRect</key>
                <string>{{61,0},{71,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,51}</string>
                <key>spriteSourceSize</key>
                <string>{72,51}</string>
                <key>textureRect</key>
                <string>{{0,93},{72,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spider_walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,53}</string>
                <key>spriteSourceSize</key>
                <string>{77,53}</string>
                <key>textureRect</key>
                <string>{{141,93},{77,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Characters.png</string>
            <key>size</key>
            <string>{218,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aa292a50174ea8854cf67c8f4efd4e8:e9a480282576fe912b73c555563e84ef:6e7b043b5b2e81e18e06ffb4ec9b6636$</string>
            <key>textureFileName</key>
            <string>Characters.png</string>
        </dict>
    </dict>
</plist>
